/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*
1. Từ ngoài vào trong (outside-in)
2. Từ trên xuống dưới (top to bottom)
3. Từ tổng quát đến chi tiết (general to specific)
4. Từ trái sang phải (left to right)
*/

/*
1. Vị trí (position)
2. Kích thước (width, height)
3. Màu sắc (color, background-color)
4. Kiểu dáng (font, border, background)
*/

#main {}

#header {
    height: 46px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    line-height: 38px;
    padding: 0px 12px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    padding: 0 21px;
    float: right;
}

#header .search-btn:hover {
    background-color: #e31212;
    cursor: pointer;
}

#header .search-icon {
    line-height: 46px;
    color: #fff;
}

#slider {
    min-height: 500px;
    background-color: #333;
}

#content {}

#footer {}